.App {
  text-align: center;
  background-color: #e6d7ff; 
}

.login-component {
  margin-top: 50px;
}

.main-page {
  margin-top: 50px;
}

.quiz {
  margin-top: 50px;
}

.results {
  margin-top: 50px;
}

.quiz-questions-item {
  margin-bottom: 20px;
}

.quiz-questions-item__question {
  font-weight: bold;
}

.quiz-questions-item__answers {
  list-style-type: none;
  padding: 0;
}

.quiz-questions-item__answers li {
  margin: 5px 0;
}
